<div class="cto-advisor-section">
    <div >
        <div class="">
            <h2 class="">Your CTO &amp; Advisor</h2>
            <p class="">I help teams achieve more by focusing on their people, their
                process and technology. Here's a short list of how I can help your teams get better at what they do best
                - build great products.</p>
        </div>
        <dl class="services-list">
            <div class="services-list-item">
                <span style="color: #22c55e;">{{> icons/checkmark}}</span>
                <div class="">
                    <dt class="">Hiring &amp; Growth</dt>
                    <dd class=""><span
                            class="">Reinvigorate your hiring strategy to screen-in
                            talent and inspire the newest members of your team.</span></dd>
                </div>
            </div>
            <div class="services-list-item">
                <span style="color: #22c55e;">{{> icons/checkmark}}</span>
                <div class="">
                    <dt >Roadmap &amp; Strategy</dt>
                    <dd><span>Align your technology
                            priorities with customer value and business goals. Get clarity from your never-ending
                            backlog and focus on what really matters.</span></dd>
                </div>
            </div>
            <div class="services-list-item">
                <span style="color: #22c55e;">{{> icons/checkmark}}</span>
                <div class="">
                    <dt >Technology Leadership</dt>
                    <dd><span>Engineering management is
                            a skill, not a career ladder. Coach your managers and leaders to run world-class
                            teams.</span></dd>
                </div>
            </div>
            <div class="services-list-item">
                <span style="color: #22c55e;">{{> icons/checkmark}}</span>
                <div class="">
                    <dt >Culture &amp; Collaboration</dt>
                    <dd><span>Refine how delivery teams
                            work end-to-end across your business, because internal collaboration is just as important as
                            feature development.</span></dd>
                </div>
            </div>
            <div class="services-list-item">
                <span style="color: #22c55e;">{{> icons/checkmark}}</span>
                <div class="">
                    <dt >API Design &amp; Architecture</dt>
                    <dd><span
                        >APIs are easy, but good APIs are <em>really</em>
                            hard. Design and build APIs that your partners and customers will love working with to build
                            rock solid integrations and ecosystems.</span></dd>
                </div>
            </div>
            <div class="services-list-item">
                <span style="color: #22c55e;">{{> icons/checkmark}}</span>
                <div class="">
                    <dt >Innovation, Agile, and DevOps<sup>^</sup>
                    </dt>
                    <dd><span>But seriously, help your
                            engineers adopt automation and collaboration tools, and create the culture to leverage them
                            to streamline delivery.</span></dd>
                </div>
            </div>
        </dl>
        <p class="buzzword-bingo"><sup>^</sup>If you won a game of Buzzword Bingo while reading this
            section, let me know for a free sticker.</p>
    </div>
</div>
