
<footer class="gh-foot gh-outer">
    <div class="gh-foot-inner gh-inner">
        
        <nav class="gh-foot-menu">
            {{navigation type="secondary"}}
        </nav>
        
        <div class="social-list">
            <a href="https://www.linkedin.com/in/developerjack/" target="_blank" class=""><span
                    class="sr-only">LinkedIn</span>{{>icons/linkedin}}</a>
            <a href="https://www.twitter.com/developerjack" target="_blank" class=""><span
                    class="sr-only">Twitter</span>{{>icons/twitter}}</a>
            <a href="https://www.instagram.com/developerjack" target="_blank" class=""><span
                    class="sr-only">Instagram</span>{{>icons/instagram}}</a>
            <a href="https://www.github.com/devjack" target="_blank" class=""><span
                    class="sr-only">GitHub</span>{{>icons/github}}</a>
        </div>

        <div class="gh-copyright">
            {{@site.title}} © {{date format="YYYY"}}
        </div>

    </div>
</footer>
