<div class="recent-work-section">
        <div>
            <div class="">
                <h2
                    class="">
                    Working with industry leading companies</h2>
                <p >Does your team need a technical leader? Lets
                    chat! The first coffee is on me.</p>
                <div class="">
                    {{> contact-button}}
                </div>
            </div>
            <div class="">
                <h3>Recent work</h3>
                <div class="logo-cloud">
                    <div><img src="/assets/images/logos/microsoft.png" alt="Microsoft"></div>
                    <div><img src="/assets/images/logos/abss.png" alt="ABSS"></div>
                    <div><img src="/assets/images/logos/financio.png" alt="Financio"></div>
                    <div><img src="/assets/images/logos/myob.png" alt="MYOB"></div>
                    <div><img src="/assets/images/logos/pyconau.png" alt="PyCon AU"></div>
                </div>
            </div>
        </div>

</div>
