/* Hide links to the portal just generally */
a[href*="#/portal"] {
    display: none;
}
.gh-article-footer {
    border: none;
}
.sr-only {
    /* helper based on Tailwind CSS */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}
.feature-heading {
    font-size: 1.9rem;
    line-height: 1.7rem;
    color: var(--ghost-accent-color);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .025em;
}
.gh-content>.feature-heading+* {
    margin-top: 0.5rem;
}

.gh-head .gh-inner {
    display: flex; /* override grid */
    justify-content: space-between;
}

.gh-head .nav li+li {
    margin-left: calc(var(--head-nav-gap) * 1.5);
}

.gh-head-menu .nav li a {
    font-size: 2.0rem;
    line-height: 2.0rem;
    font-weight: 400;
    letter-spacing: .01em;
    text-transform:none;
    color:#6b7280;   
}
.gh-head-menu:after, .gh-head-menu:before {
    /* remove lines */
    display: none;
}

.is-head-open #gh-head .gh-head-inner {
    /* For when the nav bar is 'open' on mobiles */
    display: flex; /* override grid */
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.cta-button {

}
.cta-button button,
.cta-button a {
    display: inline-block;
    padding: 0.5rem 1.2rem;
    border: 1px solid var(--ghost-accent-color);
    border-radius: .375rem;
    cursor: pointer;
    background-color: var(--ghost-accent-color);
    color: white;
    font-weight: 500;
    /* hover:bg-purple-400 focus:outline-none focus:shadow-outline */
}
.cta-button button:hover {
    box-shadow: 0 4px 7px 0 #E5E7EB;
}

.smaller-title {
    font-size: 5rem;
    font-weight: 500;
    line-height: 1;
}

.hero {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    margin-bottom: 8rem;
}
.hero-content {
    /* max-width: 60%; */
}
.hero-gday {
    color: var(--ghost-accent-color);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
}
.hero-content h2 {
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: -.025em;
}
.hero-content p {
    font-size: 2.5rem;
    letter-spacing: -.025em;
}
.hero-image {
    max-width: 24rem;
    margin-left: auto;
    margin-right: auto;
}
.hero-image-box {
    position: relative;
    border: solid var(--ghost-accent-color);
    border-width: 8px;
    margin-top: 2rem;
    margin-left: 2rem;
}
.hero-image-box img {
    position: relative;
    width: 48rem;
    top: -2rem;
    left: -2rem;
}

.body-with-sidebar {
    display: flex;
    
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.body-with-sidebar .sidebar {
    /* flex-grow: 1; */
    flex: 1 0  25rem;
    /* width: 90rem; */
    /* padding: 4rem; */
    margin-top: 2rem;
}
.body-with-sidebar .gh-content {
    padding-left: 4rem;
    padding-right: 4rem;
}
.body-with-sidebar .sidebar .hero-image-box {
    margin-top: inherit;
    margin-left: inherit;
}

.cto-advisor-section {
    background-color: #f9fafb;

    margin-top: 8rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 4rem;
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;

    /* sm:px-6 lg:pb-12 lg:px-8 */
}
.cto-advisor-section>div {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}
.cto-advisor-section h2 {
    line-height: 2rem;
    font-weight: 800;
    font-size: 2.5rem;
    color: #111827;
}
.cto-advisor-section h2+p {
    margin-top: 4rem;
    font-size: var(--content-font-size,1.8rem);
    letter-spacing: var(--content-letter-spacing,0);
    color: #6b7280;
}

.cto-advisor-section dl {
    margin-top: 3rem;
    display: grid;

    grid-template-columns: repeat(2,minmax(0,1fr));
    row-gap: 4rem;
}
.cto-advisor-section dl .services-list-item {
    display: flex;
    /* space-x-3 */
}
.cto-advisor-section dl .services-list-item>div {
    margin-left: 0.75rem;
    /* space-y-2    */
}
.cto-advisor-section dl .services-list-item dt {
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 2.2rem;
    color: #111827;
    padding-bottom: 1rem;
}
.cto-advisor-section dl .services-list-item dd {
    display: flex;
    /* flex space-x-3 lg:py-0 lg:pb-4 */
}
.cto-advisor-section dl .services-list-item dd span {
    font-size: 1.7rem;
    line-height: 2.3rem;
    color: #6b7280;
}
.cto-advisor-section .buzzword-bingo {
    margin-top: 2rem;
    font-size: 1.3rem;
    color: #6b7280;
    /* mt-4 text-sm text-gray-500 */
}

.recent-work-section {
    background-color: white;

    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

    /* sm:px-6 lg:pb-12 lg:px-8 */
}
.recent-work-section>div {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}
.recent-work-section>div>div:first-child {
    display: flex;
    flex-direction: column;
}
.recent-work-section>div>div:first-child> * + * {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.recent-work-section>div>div:last-child {
    margin-top:8rem;
}
.recent-work-section h2 {
    font-size: 3rem;
    line-height: 2.8rem;
    color: var(--ghost-accent-color);
    font-weight: 900;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    margin-bottom: 2rem;
    /* mb-8 text-3xl leading-8 font-extrabold tracking-tight text-brand-purple sm:text-4xl sm:leading-10 */
}
.recent-work-section p {
    font-size: var(--content-font-size,1.8rem);
    letter-spacing: var(--content-letter-spacing,0);
    color: #6b7280;
    font-weight: 500;
}
.recent-work-section h3 {
    font-size: 1.8rem;
    line-height: 1.6rem;
    color: var(--ghost-accent-color);
    font-weight: 600;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    /* text-base leading-6 text-brand-purple font-semibold tracking-wide uppercase */
}

.logo-cloud {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    row-gap: 2rem;
    column-gap: 2rem;
}
.logo-cloud div {
    grid-column: span 1 / span 1;
    display: flex;
    justify-content: center;
}
.logo-cloud div img {
    object-fit: contain;
    max-height: 6rem;
    height: auto;
}
.logo-cloud div:nth-child(odd):last-child {
    /* if the list is odd, make the last item double width. */
    grid-column: span 2 / span 2;
}

footer.gh-foot {
    background-color: #f9fafb;
    padding-top: 4rem;
    padding-bottom:4rem;
}
footer.gh-foot .social-list {
    display: flex;
    justify-content: center;
}
footer.gh-foot .social-list a {
    color: var(--color-secondary-text);
    font-size: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
footer.gh-foot .social-list svg {
    height: 3rem;
    width: 3rem;
}
footer.gh-foot p {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.7rem;
    line-height: 1.8rem;
    color: var(--color-secondary-text);
}
.gh-copyright {
    margin-top: 1rem;
    font-size: 1.7rem;
    line-height: 1.8rem;
    color: var(--color-secondary-text);
    text-align: right;
}


@media (max-width: 767px) {
    .hero {
        display: block;
    }
    .body-with-sidebar .sidebar{
        display: none;
    }
}

@media (min-width: 992px) {
    .hero-image {
        max-width: 28rem;
    }
    .body-with-sidebar .gh-content {
        /* flex-grow: 3; */
        flex: 0 0  75rem;
        margin-right: 8rem;
        margin-left: 8rem;
    }
    .cto-advisor-section dl {
        grid-template-columns: repeat(3,minmax(0,1fr));
        row-gap: 8rem;
    }
    .cto-advisor-section dl .services-list-item dt {
        /* padding-bottom: 1rem; */
    }
    .recent-work-section {
        margin-top: 8rem;
        margin-bottom: 4rem;
    }
    .recent-work-section>div {
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;
    
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        column-gap: 8rem;
        justify-items: start;
    }
    .recent-work-section>div>div:last-child {
        margin-top:inherit;
    }
}

@media (min-width: 1200px) {
    .hero {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
