/* Hide links to the portal just generally */
a[href*="#/portal"] {
    display: none;
}

.hero {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    margin-bottom: 8rem;
}
.hero-content {
    /* max-width: 60%; */
}
.hero-gday {
    color: var(--ghost-accent-color);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
}
.hero-content h2 {
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: -.025em;
}
.hero-content p {
    font-size: 2.5rem;
    letter-spacing: -.025em;
}
.hero-image {
    max-width: 24rem;
    margin-left: auto;
    margin-right: auto;
}
.hero-image-box {
    position: relative;
    border: solid var(--ghost-accent-color);
    border-width: 8px;
    margin-top: 2rem;
    margin-left: 2rem;
}
.hero-image-box img {
    position: relative;
    width: 48rem;
    top: -2rem;
    left: -2rem;
}

.body-with-sidebar {
    display: flex;
    
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.body-with-sidebar .gh-content {
    /* flex-grow: 3; */
    flex: 0 0  75rem;
    margin-right: 8rem;
    margin-left: 8rem;
}
.body-with-sidebar .sidebar {
    /* flex-grow: 1; */
    flex: 1 1  25rem;
    /* width: 90rem; */
    /* padding: 4rem; */
    margin-top: 2rem;
}
.body-with-sidebar .sidebar .hero-image-box {
    margin-top: inherit;
    margin-left: inherit;
}

.cto-advisor-section {
    background-color: #f9fafb;

    margin-top: 8rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

    /* sm:px-6 lg:pb-12 lg:px-8 */
}
.cto-advisor-section>div {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}
.cto-advisor-section h2 {
    line-height: 2rem;
    font-weight: 800;
    font-size: 2.5rem;
    color: #111827;
}
.cto-advisor-section h2+p {
    margin-top: 4rem;
    font-size: var(--content-font-size,1.8rem);
    letter-spacing: var(--content-letter-spacing,0);
    /* font-size: 1.9rem;
    line-height: 2.2rem; */
    color: #6b7280;
}

.cto-advisor-section dl {
    margin-top: 3rem;
    display: grid;

    grid-template-columns: repeat(2,minmax(0,1fr));
    row-gap: 4rem;
}
.cto-advisor-section dl .services-list-item {
    display: flex;
    /* space-x-3 */
}
.cto-advisor-section dl .services-list-item>div {
    margin-left: 0.75rem;
    /* space-y-2    */
}
.cto-advisor-section dl .services-list-item dt {
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 2.2rem;
    color: #111827;
    padding-bottom: 1rem;
}
.cto-advisor-section dl .services-list-item dd {
    display: flex;
    /* flex space-x-3 lg:py-0 lg:pb-4 */
}
.cto-advisor-section dl .services-list-item dd span {
    font-size: 1.7rem;
    line-height: 2.3rem;
    color: #6b7280;
}
.cto-advisor-section .buzzword-bingo {
    margin-top: 2rem;
    font-size: 1.3rem;
    color: #6b7280;
    /* mt-4 text-sm text-gray-500 */
}


@media (max-width: 767px) {
    .hero {
        display: block;
    }
}

@media (min-width: 992px) {
    .hero-image {
        max-width: 28rem;
    }
    .cto-advisor-section dl {
        grid-template-columns: repeat(3,minmax(0,1fr));
        row-gap: 8rem;
    }
    .cto-advisor-section dl .services-list-item dt {
        /* padding-bottom: 1rem; */
    }
}
